img {
    width: 277px;
    margin: 0 auto;
    margin-top: 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

h2 {
    color: var(--cor-primaria);
}

#api {
    color: white;
    background-color: var(--cor-escura);
    width: 788px;
    padding: 12px 0;
    text-align: center;
    border-radius: 12px;
}

#api-link {
    color: white;
}

#api-link:hover {
    color: var(--cor-primaria);
}