#user_form {
    display: none;
}

main {
    display: flex;
    gap: 128px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 540px;
}

#intro > h2 {
    color: var(--cor-primaria);
}

img {
    width: 400px;
    margin: 0 auto;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

#form {
    width: 200%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#report-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#report-form > p {
    font-size: 75%;
}

#report-form > h2 {
    color: var(--cor-primaria);
}

#report-form > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#street, #city {
    width: 225px;
}

#number {
    width: 50px;
}

#report-label {
    display: flex;
    flex-direction: column;
}

#full_name, #email {
    width: 250px;
}

.inputs-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#user_form > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#send_report {
    border: none;
    height: 48px;
    width: 256px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: 600;
    border-radius: 12px;
}

#send_report:hover {
    transform: scale(1.02);
}

#send_report:active {
    transform: scale(0.98);
}

#send_report:disabled,
#send_report:disabled:hover,
#send_report:disabled:focus,
#send_report:disabled:active {
    cursor: not-allowed;
    transform: scale(1);
    background-color: var(--cor-desabilitada);
}

